.contact__container{
    margin-top: 2rem;
    width: 60%;
    display :grid;
    grid-template-columns: 30% 58%;
    gap: 12%;
}

.contact__options{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.contact__option {
    background-color :rgba(0, 0, 0, 0.5);
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 2px solid var(--color-primary);
    transition: var(--transition);
}

.contact__option:hover, input:hover, textarea:hover {

    box-shadow: 0px 0px 8px var(--color-primary);
    transform: scale(1.03);
}

.contact__option__icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-light);
}

.contact__option a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.8rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

input, textarea{
    width: 100%;
    padding: 1.5rem;
    border: 2px solid var(--color-primary);
    border-radius: 0.5rem;
    resize: none;
    background: transparent;
    color: var(--color-white);
    transition: var(--transition);
}

@media screen and (max-width: 1024px){
    .contact__container{
        width: 55%;
        gap: 2rem;
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 440px){
    .contact__container{
       width: var(--container-width-sm);
    }

}