footer{
    background-color: rgba(0,0,0,0.8);
    padding: 3rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a{
    color: var(--color-light);
}

.footer__logo{
    color: var(--color-white);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer__socials a{
    background-color: rgba(0,0,0,0.8);
   color: var(--color-primary);
   padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__socials a:hover {
    color: var(--color-white);
}

.footer__copyright{
    color: var(--color-white);
    margin-bottom: 4rem;
}